body{
     background-image: url(/static/Fon.png);
     background-repeat: repeat;
     -webkit-background-size:cover;
     background-size:cover;
     background-position:left, right;
     height: 90vh;
     margin: 0;
     padding: 0;

}
#content{
    margin:0 auto;
    background-color: floralwhite;
    width: 65%;
    height: 600px;
    border-radius: 20px;

}
#foto{
    border:3px solid black;
    width: 150px;
    height: 150px;
    float: left;
    margin:10px 10px;
}
#header{
    text-align: center;
    font:bold 15px tahoma;
}
#UserText{
    background-color: #555555;
    border:1px solid black;
    margin:0 auto;
    font:bold 20px tahoma;
    width: 65%;
    height: 380px;
    float: right;
    margin-right:40px;
    text-align: center;
    border-radius: 4px;


}
input{
    margin:10px;
    padding: 10px;
    width: 200px;
    border-radius: 4px;
    font-size: 15px !important;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    background-color: #fafbfc;
}
#button{
    text-decoration: none;
    width: 400px;
    height: 50px;
    background-color: #1082f5;
    border-radius: 3px;
    font: bold 18px tahoma;
    border: 1px solid #1076eb;
    padding: 8px;
    color: #ffffff;
    font-family: sans-serif;
    transition: .2s;
    font-size: 25px !important;
}
#button:hover {
    width: 300px;
    height: 50px;
    background-color: #0f6fd6;
    border-radius: 3px;
    font: bold 18px tahoma;
    color: #ffffff;
    font-family: sans-serif;
}
#status{
    width: 200px;
    height: 200px;
    position: absolute;
    text-align: center;
    background-color: #8d8b8c;
    margin:275px 10px;
    border: 2px solid black;
    font: bold 16px tahoma;
    border-radius: 3px;
}
#foto > img {
    width: 150px;
    height: 150px;
}
#home{
    margin:505px 20px ;
}
#home>img{
    width:50px;
    height:50px;
}
#fotoButton{
    width: 150px;
    height: 40px;
    background-color: #1082f5;
    border-radius: 3px;
    font: bold 18px tahoma;
    border: 1px solid #1076eb;
    cursor: pointer;
    color: #ffffff;
    font-family: sans-serif;
    transition: .2s;
    font-size: 25px !important;
    margin:5px 0px;
    padding: 5px;
}
#fotoButton:hover{
    width: 150px;
    height: 40px;
    background-color: #0f6fd6;
    border-radius: 3px;
    font: bold 18px tahoma;
    color: #ffffff;
    font-family: sans-serif;
}

#fotoText{
    width: 300px;
    height: 100px;
    position: absolute;
    margin:150px 0;
    padding: 5px;
}
#id_Image{
    margin:10px;
    padding: 10px;
    width: 200px;
}
