body{
     background-image: url(/static/Fon.png);
      background-repeat: repeat;
	  -webkit-background-size:cover;
	  background-size:cover;
	  background-position:left, right;
	  height: 90vh;
      font:bold 18px tahoma;
      font-family: sans-serif;
      color: #24292e ;

}
#content{
    margin:0 auto;
    background-color: #FFFFFF;
    width: 65%;
    height: 500px;
    border-radius: 4px;

}
#foto{
    border:3px solid black;
    width: 150px;
    height: 150px;
    float: left;
    margin:10px 10px;
     border-radius: 3px;
}
#header{
    text-align: center;
    font:bold 15px tahoma;
}
#UserText{
    background-color: #555555;
    border:1px solid black;
    margin:0 auto;
    font:bold 20px tahoma;
    width: 65%;
    float: right;
    margin-right:40px;
    text-align: center;
    border-radius: 4px;

}
input{
    margin:10px;
    padding: 10px;
    width: 200px;
    border-radius: 4px;
    font-size: 15px !important;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    background-color: #fafbfc;
}
#button{
    width: 300px;
    height: 50px;
    background-color: #1082f5;
    border-radius: 3px;
    font: bold 10px tahoma;
    border: 1px solid #1076eb;
    cursor: pointer;
    color: #ffffff;
    font-family: sans-serif;
    transition: .2s;
    font-size: 20px !important;
    margin-top: 10px;
    margin-bottom: 5px;
}
#button:hover {
    width: 300px;
    height: 50px;
    background-color: #0f6fd6;
    border-radius: 3px;
    font: bold 10px tahoma;
    color: #ffffff;
    font-family: sans-serif;
}
#status{
    width: 200px;
    height: 200px;
    position: absolute;
    margin:230px 0;
    border: 2px solid black;
    margin-left:10px;
    font: bold 16px tahoma;
    background-color: #ffffff;
    border-radius: 3px;
}
#foto > img {
    width: 150px;
    height: 150px;
}
#home{
    margin:405px 20px 20px 20px;
}
#home>img{
    width:50px;
    height:50px;
}
#fotoButton{
    width: 150px;
    height: 40px;
    background-color: #1082f5;
    border-radius: 3px;
    font: bold 18px tahoma;
    border: 1px solid #1076eb;
    cursor: pointer;
    color: #ffffff;
    font-family: sans-serif;
    transition: .2s;
    font-size: 25px !important;
    margin:5px 0px;
    padding: 5px;
}
#fotoButton:hover{
    width: 150px;
    height: 40px;
    background-color: #0f6fd6;
    border-radius: 3px;
    font: bold 18px tahoma;
    color: #ffffff;
    font-family: sans-serif;
}
