    .main {
	border: 4px double black;
    background: #fc3;
    padding: 10px;
	}
    body {
      background-image: url(/static/Fon.png);
      background-repeat: repeat;
	  -webkit-background-size:cover;
	  background-size:cover;
	  background-position: center center;
	  height: 100vh;
	}
    .menu-area li a {
	  text-decoration: none;
	}
    .menu-area li {
	  list-style-type: none;
	  color: black;
	}
    .menu-settings {
	  padding-top: 10px;
	}

	nav {
	  position: relative;
	  width: calc(100% - 60px);
	  margin: 0 auto;
	  padding: 10px 0;
	  background: #e9e9e9;
	  z-index: 1;
	  text-align: center;
	  padding-right: 2%;
	  border-radius: 20px;
	}

	.logo {
	  width: 25px;
	  height: 25px;
	  float: left;
	  color: #fff;
	  padding-left: 2%;
	  vertical-align: bottom;
	  position: relative;
	  top: 3px;
	  left: 33px;
	}

	.menu-area li {
	  display: inline-block;
	}

	.menu-area a {
	  color: black;
	  font-weight: 300;
	  letter-spacing: 1px;
	  text-transform: uppercase;
	  display: block;
	  padding: 0 25px;
	  font-size: 14px;
	  line-height: 30px;
	  position: relative;
	  z-index: 1;
	}
	.menu-area a:hover {
	  background: tomato;
	  color: #fff;
	  height: 19px;
	}

	.menu-area a:hover:after {
	  transform: translateY(-50%) rotate(-35deg);
	}

	.link-area
	{
	  position:fixed;
	  bottom:20px;
	  left:20px;
	  padding:15px;
	  border-radius:40px;
	  background:tomato;
	}
	.link-area a
	{
	  text-decoration:none;
	  color:#fff;
	  font-size:25px;
	}
	.login-singup{
	    float: right;
	}
	.login-singup a:hover{
	    background: #00FFFF;
	}

	ul {
	    display: block;
	    margin: 0;
	    padding: 0;
	    list-style: none;
	}
	ul:after {
	    display: block;
	    content: ' ';
	    clear: both;
	    float: none;
	}
	ul.menu-area > li {
	    position: relative;
	}
	ul.menu-area > li > a {
	    display: block;
	    padding: 10px;
	    color: black;
	    text-decoration: none;
	}
	ul.submenu {
	    display: none;
	    position: absolute;
	    width: 120px;
	    top: 37px;
	    left: 0;
	    background-color: white;
	    border: 1px solid red;
	}
	ul.submenu > li {
	    display: block;
	}
	ul.submenu > li > a {
	    display: block;
	    padding: 10px;
	    color: black;
	    text-decoration: none;
	}
	ul.submenu > li > a:hover {
	    text-decoration: underline;
	}
	ul.menu-area > li:hover > ul.submenu {
	    display: block;
	}

	


