body {
      background-image: url(/static/Fon.png);
      background-repeat: repeat;
	  -webkit-background-size:cover;
      background-size:cover;
      background-position: center center;
      height: 100vh;
      font:bold 18px tahoma;

}
h2{
    text-align: center;
}
ul{
    list-style: none;
}

form{
    text-align: center;
    border-radius: 20px;
    margin:0 auto ;
    padding:0 ;
    background-color: #e9e9e9;
    width: 600px;
}
button{
    width: 200px;
    height: 50px;
    background-color: cornflowerblue;
    border-radius: 20px;
    font:bold 18px tahoma;
    padding:4px;
    transition: all 0.5s ease;
    margin-top: 10px;
    border:0;
    margin-bottom: 5px;
}
button:hover {
    width: 200px;
    height: 50px;
    background-color: #1758a0;
    border-radius: 20px;
    font: bold 18px tahoma;
    border: 2px solid #3f83e2;
}
input {
    width: 200px;
    height: 20px;
    border-radius: 3px;
}


