<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GGuide</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="menu-settings">
          <nav>
               <div class="logo"><a href="{% url 'index' %}"><img src="/static/logo_GGuide.png" alt=""></a></div>
            <ul class="menu-area">

                <li><a href=#>Menu 1</a>
                    <ul class="submenu">
                      <li><a href=#>Sudmenu 1</a></li>
                      <li><a href=#>Sudmenu 1</a></li>
                      <li><a href=#>Sudmenu 1</a></li>
                  </ul>
                </li>
              </li>
              <li><a href=#>Menu 2</a>
                    <ul class="submenu">
                      <li><a href=#>Sudmenu 1</a></li>
                      <li><a href=#>Sudmenu 1</a></li>
                      <li><a href=#>Sudmenu 1</a></li>
                  </ul>
                </li>
              <li><a href=#>Menu 3</a>
                    <ul class="submenu">
                      <li><a href=#>Sudmenu 1</a></li>
                      <li><a href=#>Sudmenu 1</a></li>
                      <li><a href=#>Sudmenu 1</a></li>
                  </ul>
                </li>
              <li><a href=#>Menu 4</a>
                    <ul class="submenu">
                      <li><a href=#>Sudmenu 1</a></li>
                      <li><a href=#>Sudmenu 1</a></li>
                      <li><a href=#>Sudmenu 1</a></li>
                  </ul>
                </li>
              <li><a href=#>Игры</a>
                    <ul class="submenu">
                      <li><a href="{% url 'doom' %}">Doom</a></li>
                      <li><a href=#>Sudmenu 1</a></li>
                      <li><a href=#>Sudmenu 1</a></li>
                  </ul>
                </li>
                {% if user.is_authenticated %}
                    <li class="login-singup" ><a href="/profile">Profile</a>
                    <ul class="submenu">
                      <li><a href='/profile'>Информация</a></li>
                      <li><a href=#>Друзья</a></li>
                      <li><a href='/logout'>Выйти</a></li>
                  </ul></li>
                {% else %}
                    <li class="login-singup"> <a  href="/login">Войти</a></li>
                    <li class="login-singup"><a href="/registration">зарегистрироваться</a></li>
                {% endif %}

            </ul>
          </nav>
    </div>
    <div class="doom"><div style="display: none;"></div><div>
        <noindex>
            <iframe src="https://js-dos.com/games/doom.exe.html" width="100%" height="750px" scrolling="no" allowfullscreen="true" borde="0"></iframe>
        </noindex></div>
    </div>
</body>
</html>