<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GGuide</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="menu-settings">
          <nav>
               <div class="logo"><a href="index.html"><img src="/static/logo_GGuide.png" alt=""></a></div>
            <ul class="menu-area">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
              <li id="login-singup"><a href="#">Login/Sing Up</a></li>
            </ul>
          </nav>
	</div>
</body>
</html>