<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GGuide</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="menu-settings">
          <nav>
               <div class="logo"><a href="{% url 'index' %}"><img src="/static/logo_GGuide.png" alt=""></a></div>
            <ul class="menu-area">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>

                {% if user.is_authenticated %}
                    <li id="login-singup"><a href="{% url 'logout' %}">Logout</a></li>

                {% else %}
                    <li class="login-singup"> <a  href="login">Login</a></li>
                    <li class="login-singup"><a href="registration">Sing up</a></li>
                {% endif %}
            </ul>
          </nav>
	</div>
{% if user.is_authenticated %}
  <p style="color:white">Logged as {{ user.username }}</p>
{% endif %}
</body>
</html>