<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GGuide</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="menu-settings">
          <nav>
               <div class="logo"><a href="index.html"><img src="/static/logo_GGuide.png" alt=""></a></div>
            <ul class="menu-area">
                <li><a href=#>Menu 1</a>
                    <ul class="submenu">
                      <li><a href=#>Sudmenu 1</a></li>
                      <li><a href=#>Sudmenu 1</a></li>
                      <li><a href=#>Sudmenu 1</a></li>
                  </ul>
                </li>
              </li>
              <li><a href=#>Menu 2</a>
                    <ul class="submenu">
                      <li><a href=#>Sudmenu 1</a></li>
                      <li><a href=#>Sudmenu 1</a></li>
                      <li><a href=#>Sudmenu 1</a></li>
                  </ul>
                </li>
              <li><a href=#>Menu 3</a>
                    <ul class="submenu">
                      <li><a href=#>Sudmenu 1</a></li>
                      <li><a href=#>Sudmenu 1</a></li>
                      <li><a href=#>Sudmenu 1</a></li>
                  </ul>
                </li>
              <li><a href=#>Menu 4</a>
                    <ul class="submenu">
                      <li><a href=#>Sudmenu 1</a></li>
                      <li><a href=#>Sudmenu 1</a></li>
                      <li><a href=#>Sudmenu 1</a></li>
                  </ul>
                </li>
              <li><a href=#>Menu 5</a>
                    <ul class="submenu">
                      <li><a href=#>Sudmenu 1</a></li>
                      <li><a href=#>Sudmenu 1</a></li>
                      <li><a href=#>Sudmenu 1</a></li>
                  </ul>
                </li>
              <li id="login-singup"><a href="login">Войти</a></li>
              <li id="login-singup"><a href="registration">Зарегесрироватся</a></li>
            </ul>
          </nav>
	</div>
</body>
</html>