<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/static/styles2.css">
</head>
<body>
  <form method="post">
    {% csrf_token %}
  <h3>Sign up</h3>
    {% for field in form %}
      <p>
         {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}<br>
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
           <p style="color: #ff0000">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
</body>
</html>