 {% load static %}
{% load socialaccount %}
  <header class="header-section">
        <div class="container">
            <!-- logo -->
            <a class="site-logo" href="{% url 'index' %}">
                <img src="{% static 'images/logo.png' %}" alt="">
            </a>
            {% if user.is_authenticated %}
            <div class="user-panel">
                <a href="{% url 'profile' %}">Profile</a>/<a href="{%  url 'logout' %}">Logout</a>
            </div>
            {% else %}
            <div class="user-panel">
                <a href="{% url 'login' %}">Login</a>  /  <a href="{%  url 'registration' %}">Register</a>


            </div>
            {% endif %}
            <!-- responsive -->
            <div class="nav-switch">
                <i class="fa fa-bars"></i>
            </div>
            <!-- site menu -->
            <nav class="main-menu">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'game' %}">Games</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'articles' %}">Articles</a></li>
                    <li><a href="#">Menu</a></li>
                </ul>
            </nav>
        </div>
    </header>