#comment {
    width: 100%;
}
.comment-form-warp,.col-md-6{
    margin:0 auto;
    text-align: center;
}
.col-md-6{
    width: 100%;
}
.comment_likes{
    float: right;
    font-weight: bold;
}
.delete {
    float: right;
    width: 12px;
    transition: all 0.5s ease;
}
.delete:hover{
    width: 20px;
}

